<%= render 'books/error', book: @book %>
<div class="row">
  <%= render 'books/left_column', user: @user, book: @new %>
  <div class='col-md-8 offset-md-1'>
    <h2>Book detail</h2>
    <table class="table">
      <tr>
        <td><%= attachment_image_tag @book.user, :profile_image, size: "40x40", fallback: "no_image.jpg" %>
          <p><%= link_to @user.name, user_path(@book.user.id), class: "user_#{@book.user.id}" %></p>
        </td>
        <td><%= link_to @book.title, book_path(@book.id), class: "book_#{@book.id}" %></td>
        <td><%= @book.body %></td>
        <% if @book.favorited_by?(current_user) %>
          <td>
            <%= link_to book_favorites_path(@book), method: :delete do %>
              ♥<%= @book.favorites.count %>
            <% end %>
          </td>
          <% else %>
          <td>
            <%= link_to book_favorites_path(@book), method: :post do %>
              ♡<%= @book.favorites.count %>
            <% end %>
          </td>
        <% end %>
        <% if @book.user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
          <td><%= link_to "Destroy", book_path(@book.id), method: :delete, class: "btn-sm btn-danger destroy_book_#{@book.id}", "data-confirm" => "本当に消しますか？" %></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>